<div class="container">
  <h3>Payee Form</h3>
  <!-- Name -->
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name</label>
      <input
        class="form-control"
        (input)="handleOnName($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <!-- Date -->
  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date</label>
      <input
        class="form-control"
        type="date"
        (input)="handleOnDate($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Date</b></label>
      <div>
        <!-- provide the argument to the pipes syntax | date : "d" -->
        {{ inputDate | date: "MMMM d, y" }}
      </div>
    </div>
  </div>
  <!-- Amount -->
  <div class="row">
    <div class="form-group col">
      <label for="">Payment Amount</label>
      <input
        class="form-control"
        (input)="handleOnAmount($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>
        <!-- provide the argument to the pipes syntax | currency  we get default us dollar symbol -->
        {{ amount | currency: "INR" }}
      </div>
    </div>
  </div>
  <!-- Height -->
  <div class="row">
    <div class="form-group col">
      <label for="">Height</label>
      <input
        class="form-control"
        (input)="handleOnHeight($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Height</b></label>
      <div>
        <!-- provide the argument to the pipes syntax |  -->
        {{ height | number: "1.0-0" }}
      </div>
    </div>
  </div>

  <!-- Miles -->
  <div class="row">
    <div class="form-group col">
      <label for="">Miles</label>
      <input
        class="form-control"
        (input)="handleOnMiles($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Kilometers</b></label>
      <div>
        <!-- provide the argument to the pipes syntax |  -->
        {{ miles | convert: "cm" }}
      </div>
    </div>
  </div>

  <!-- Json pipe  used only for debugging purposes-->
  {{ car | json }}
</div>
